.showContainer{
  display: flex;
	align-items: center;
	justify-content: center;
  flex-direction: column;
}

#showDate{
  height: 10vh;
  margin: 0px;
  padding: 10px;
}
#showInfo{
  width: 50vw;
  text-align: center;
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;
  margin: 0px;
  padding: 10px;
}

#homebutton{
  top: 15px;
  left: 15px;
  position: absolute;
}

.imgContainerQuick{
  display: flex;
	align-items: center;
	justify-content: center;
  text-align: center;
  flex-direction: row;
  height: 30vh;
  padding: 10px;
}

#showContainer{
  height: 80vh;
  width: 50vw;
}

nav{
  text-decoration: underline;
  text-decoration-color: white;
  height: 20vh;
}

#icon4{
  height: 55px;
  width: 55px;
  -webkit-transition: margin 0.2s ease-out;
  -moz-transition: margin 0.2s ease-out;
  -o-transition: margin 0.2s ease-out;
  margin: 15px;
}


#icon4:hover {
  margin-top: 5px;
}
