    <img class="floatIcon"data-ui-sref="home" id="icon4" src="http://i.imgur.com/quOQCel.jpg" alt="">
<div class="totalContainer">
  <div class="show">
    <h2 id="showDate">{{ vm.getDateString(vm.date) }}</h2>
  </div>
  <div class="infoContainer">
    <div>
      <div class="easterEgg" ng-show="vm.easterEgg">
        <h2>Special: {{vm.easterEgg}}</h2>
      </div>
      <div ng-repeat="event in vm.moments.events">
        <h2>Event: {{event.text}}</h2>
      </div>
      <div ng-repeat="event in vm.moments.births">
        <h2>Birth: {{event.text}}</h2>
      </div>
      <div ng-repeat="event in vm.moments.deaths">
        <h2>Death: {{event.text}}</h2>
      </div>
    </div>
  </div>
    <div class="commentContainer">
      <h3 id="commentTitle">Comments</h3>
      <div class="commentSection">
        <div class="comment"ng-repeat="comment in vm.discussion.comments">
          <h2>{{comment.text}}</h2>
        </div>
      </div>
      <div ng-show="!vm.eventsExist">
        Nothing significant happened on this date, but go ahead and discuss it anyway!
      </div>
      <textarea id="textArea"placeholder="Comment"
                data-ng-model="vm.comment.text"
                name="name"
                rows="8"
                cols="80">
      </textarea>
      <button type="button" name="button" ng-click="vm.createComment()">Add Comment</button>
    </div>
    <div class= "imgContainer" >
      <search></search>
      <shuffle></shuffle>
      <img data-ui-sref="discussionsIndex" ng-click="" class ="icon" id="icon3" src="http://i.imgur.com/HEySeBM.jpg" alt="">
    </div>

  </div>
  </div>
