:root {
	--animation-delay: 1s;
	--duration: 1500ms;
	--iterations: 1;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
  background:white;
	flex-direction: column;
  font-family: 'Poppins', sans-serif;
}

.icon{
	height: 60px;
	width: 60px;
	margin-left: 25px;
	margin-right: 25px;
	padding-bottom: 6px;
	border-bottom: 5px solid white;
  flex-grow: 1;
}
.imgContainer{
  display: flex;
	align-items: center;
	justify-content: center;
  width: 100%;
  text-align: center;
  display: none;
}
.reveal-text,
.reveal-text::after {
	animation-delay: var(--animation-delay);
	animation-iteration-count: var(--iterations);
	animation-duration: var(--duration);
	animation-fill-mode: both;
	animation-timing-function: cubic-bezier(0.0, 0.0, 0.2, 1);
}

.reveal-text {
	position: relative;
	font-size: 110px;
	display: block;
	animation-name: reveal-text;
	color: black;
	margin: 0px;

	&::after {
		content: "";
		position: absolute;
		z-index: 999;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		transform: scaleX(0);
		transform-origin: 0 50%;
		pointer-events: none;
		animation-name: revealer-text;
	}

}

/*
  animation: from % of text to %of text
*/
@keyframes reveal-text {
	from {
		clip-path: inset(0 100% 0 0);
	}
	to {
		clip-path: inset(0 0 0 0);
	}
}


@keyframes revealer-text {

	0%, 50% {
		transform-origin: 0 50%;
	}

	60%, 100% {
		transform-origin: 100% 50%;
	}


	60% {
		transform: scaleX(1);
	}

	100% {
		transform: scaleX(0);
	}
}

p{
  text-align: center;
}

.icon:hover {
	border-bottom: 5px solid 	black;
}
