<nav>
  <img data-ui-sref="home" id="icon4" src="http://i.imgur.com/quOQCel.jpg" alt="">
  <pre>{{$stateParams | json}}</pre>

</nav>

<div class="viewContainer">
  <div class="showContainer">
    <h2 id="showDate">{{vm.date}}   {{vm.randomEvent.year}} </h2>
    <h3 id ="showInfo">{{vm.randomEvent.text}}</h3>
    <div class= "imgContainerQuick">
      <img ng-click="" class ="icon" id="icon1" src= "http://i.imgur.com/78SxM9U.png" alt="">
      <shuffle></shuffle>
      <img data-ui-sref="discussionsShow(vm.dateParams)" ng-click="" class ="icon" id="icon3" src="http://i.imgur.com/HEySeBM.jpg" alt="">
    </div>
  </div>
</div>
