._720kb-datepicker-calendar-day._720kb-datepicker-today {
  background:red;
  color:white;
}

html{
  text-transform: lowercase;
  height: 100vh;
}
body{
    height: 100vh;
}

.viewContainer {
	display: flex;
	align-items: center;
  background:white;
	flex-direction: column;
  font-family: 'Poppins', sans-serif;
	height: 80vh;
  margin: 0px;
}

.showContainer{
  display: flex;
	align-items: center;
  justify-content: center;
}
body{
  margin: 0px;
}

.icon{
  -webkit-transition: margin 0.2s ease-out;
  -moz-transition: margin 0.2s ease-out;
  -o-transition: margin 0.2s ease-out;
  margin: 15px;

  	height: 60px;
  	width: 60px;
  	margin-left: 25px;
  	margin-right: 25px;
    flex-grow: 1;
}

.icon:hover{
  margin-top: 2px;
}

.icon2{
  -webkit-transition: margin 0.2s ease-out;
  -moz-transition: margin 0.2s ease-out;
  -o-transition: margin 0.2s ease-out;
  margin: 15px;

  	height: 60px;
  	width: 60px;
  	margin-left: 25px;
  	margin-right: 25px;
    flex-grow: 1;
}

.icon2:hover{
  margin-right: 2px;
}

.infoContainer{
  display: flex;
  justify-content: center;
  height: 20vh;
  overflow: auto;
  padding: 10px;
  width: 52vw;
  font-size: 10px;
}

.commentContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 50vw;
  height: 40vh;
  padding: 20px;
  padding-top: 5px;
  margin-top: 5px;
  margin-left: 15px;
}

.commentSection{
  height: 40vh;
  overflow: auto;
  width: 40vw;
  padding: 10px;
  margin: 10px;
  font-size: 10px;
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

.totalContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#commentTitle{
  height: 5vh;
  margin-top: 0px;
  margin-bottom: 0px;
  text-decoration: underline;
}

.sideBySide{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 80vw;
}

.imgContainer2{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding: 10px;
  width: 10vh;
}

.showNav{
  display: flex;
}
