._720kb-datepicker-calendar-day._720kb-datepicker-today {
  background:red;
  color:white;
}

html{
  text-transform: lowercase;
}

.viewContainer {
	display: flex;
	align-items: center;
  background:white;
	flex-direction: column;
  font-family: 'Poppins', sans-serif;
	height: 80vh;
  margin: 0px;
}

.showContainer{
  display: flex;
	align-items: center;
  justify-content: center;
}
body{
  margin: 0px;
}
